<h1>Please confirm your registration</h1>
<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<%= link_to 'Confirm', waiting_list_path(@user.id), :method=> :put %>
<%= link_to 'Cancel', user_path(@user.id), :method=> :delete %>