<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
      Your registration to the waiting list has ended after 20 days without confirmation.
    </p>
    <p>Feel free to come back to us if you need it.</p>
    <p>Thank you!</p>
  </body>
</html>