<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
      you are registering to the coworkingBrest waiting list with : <%= @user.email %>.
    </p>
    <p>
      please confirm your registration by click to the following link:
      <%= link_to "Confirmation", waiting_list_url(@user.id), :method => :get, :target=> :_blank %>
    </p>
    <p>Thank you! </p>
  </body>
</html>